<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>...</title>
	<meta name="description" content="..." />
	<meta name="author" content="Jorge Moreno aka moro, moro.es (@alterebro)" />
	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
	<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="address=no" />
	<meta name="google" content="notranslate" />
	<!--[if IEMobile]><meta http-equiv="cleartype" content="on" /><![endif]-->

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" type="text/css" />
	<link href="frontend/styles/app.css" rel="stylesheet" type="text/css" />
</head>
<body id="app">

	<header role="banner">

		<!-- <p><img v-bind:src="user_data.avatar_url" width="64" alt="{{ user }}" /></p> -->
		<h1><a href="{{ user_data.html_url }}" title="{{ user }}" target="_blank">@{{ user }}</a>. <strong v-text="user_data.name"></strong></h1>
		<ul class="fa-ul">
			<li><i class="fa fa-li fa-globe"></i> {{ user_data.location }}</li>
			<li><i class="fa fa-li fa-link"></i> {{{ user_data.blog | autolinks }}}</li>
		</ul>
		<p>
			<i class="fa fa-fw fa-star-o"></i> {{ stars }}
			<i class="fa fa-fw fa-code-fork"></i> {{ forks }}
			<i class="fa fa-fw fa-eye"></i> {{ watching }}
		</p>
		<p>
			<strong>Languages: </strong>
			<template v-for="user_lang in user_languages"><span>{{ $key }} ( <small>{{ user_lang }}</small> ) </span></template>
		</p>
		<hr />
	</header>

	<main role="main">
		<h2>Repositories :</h2>

		<section v-for="repo in repos">
			<header>
				<h3><a href="{{ repo.html_url }}" title="{{ repo.name }}" target="_blank">{{ repo.name }} <i class="fa fa-external-link"></i></a></h3>
				<p v-text="repo.language"></p>
			</header>
			<article>
				<p v-if="repo.description"><i class="fa fa-fw fa-align-left"></i> {{{ repo.description | autolinks }}}</p><p v-else><i class="fa fa-fw fa-align-left"></i> {{ repo.name }}</p>
				<p v-if="repo.homepage"><i class="fa fa-fw fa-globe"></i> {{{ repo.homepage | autolinks }}}</p>
			</article>
			<footer>
				<p>
					<i class="fa fa-fw fa-clock-o"></i> {{ repo.pushed_at | filterdate }}
					 &mdash;
					<i class="fa fa-fw fa-star-o"></i> {{ repo.stargazers_count }}
					<i class="fa fa-fw fa-code-fork"></i> {{ repo.forks_count }}
					<i class="fa fa-fw fa-eye"></i> {{ repo.watchers_count }}
				</p>
			</footer>
		</section>

	</main>

	<footer role="contentinfo">
		<hr />
		<p>{{ user }} &copy; 2016</p>
	</footer>

	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.17/vue.min.js"></script>
	<script type="text/javascript" src="frontend/scripts/atomic.js"></script>
	<script type="text/javascript" src="frontend/scripts/cache.js"></script>
	<script type="text/javascript" src="frontend/scripts/app.js"></script>
</body>
</html>
