<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>...</title>
	<meta name="description" content="..." />
	<meta name="keywords" content="..." />
	<meta name="author" content="Jorge Moreno aka moro, moro.es (@alterebro)" />
	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
	<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="address=no" />
	<meta name="google" content="notranslate" />
	<!--[if IEMobile]><meta http-equiv="cleartype" content="on" /><![endif]-->

	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" type="text/css" />
	<link href="frontend/styles/app.css" rel="stylesheet" type="text/css" />
</head>
<body id="app">

	<header>
		<h1>{{ user }}</h1>
		<ul>
			<li>Stars : {{ stars }}</li>
			<li>Forks : {{ forks }}</li>
			<li>Watchers : {{ watching}}</li>
		</ul>

		<h3>Languages</h3>
		<ul>
			<li v-for="user_lang in user_languages | orderBy true -1">
				{{ $key }} : {{ user_lang }}
			</li>
		</ul>
		<hr />
	</header>

	<main>
		<h2>Repositories :</h2>
		<template v-for="repo in repos">
		<dl>
			<dt>
				<strong>{{ repo.name }}</strong>
				{{ repo.html_url }}
			</dt>
			<dd>
				<p>Description : <span v-html="repo.description | autolinks"></span></p>
				<p>Homepage : {{ repo.homepage }}</p>
				<p>Languages : <strong>{{ repo.main_language }}</strong> <small>( {{ repo.language }} )</small></p>
				<p>
					Stars : {{ repo.stargazers_count }} &mdash;
					Forks : {{ repo.forks_count }} &mdash;
					Watchers : {{ repo.watchers_count }}
				</p>
			</dd>
			<dd>
				<ul>
					<li>Pushed : {{ repo.pushed_at | filterdate }}</li>
					<li>Updated : {{ repo.updated_at | filterdate }}</li>
					<li>Created : {{ repo.created_at | filterdate }}</li>
				</ul>
			</dd>
		</dl>
		<hr />
		</template>
	</main>

	<footer>
		<p>{{ user }} &copy; 2016</p>
	</footer>

	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.17/vue.min.js"></script>
	<script type="text/javascript" src="frontend/scripts/atomic.js"></script>
	<script type="text/javascript" src="frontend/scripts/app.js"></script>
</body>
</html>
